body {
}
.adtop
{
   margin-left:1100px;
   margin-bottom:3500px;
}
 .affiliate
 {
    color:#008cc9;
 }
        
 .style-media-list .entry-title {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 3px;
    overflow: hidden;
    font-weight: 600;
    font-family: 'Droid Sans', sans-serif;
}